@model objectflow_example.ViewModels.JobPostingWorkflowViewModel

@{
	ViewBag.Title = "CreationWorkflow";
}

@if (string.IsNullOrEmpty(Model.PostingName))
{
	<h2>Creating New Job Posting</h2>
}
else 
{ 
	<h2>Job Posting For @Model.JobPosting.Name</h2>
}

@using (Html.BeginForm())
{
	foreach (var step in Model.NextSteps)
	{
		@Html.ActionLink(step.ToString(), "CreationWorkflow", new { id=Model.JobPosting.JobPostingId, 
			actionId=step.ToString() })
	}
}
