@model objectflow_example.ViewModels.JobPostingWorkflowViewModel

@{
	ViewBag.Title = "CreationWorkflow";
}

@if (string.IsNullOrEmpty(Model.PostingName))
{
	<h2>Creating New Job Posting</h2>
}
else 
{ 
	<h2>Job Posting For @Model.JobPosting.Name</h2>
}

@Html.Partial("_" + Model.JobPosting.CreationStep.ToString(), Model)

@foreach (var step in Model.NextSteps)
{
	using (Html.BeginForm("CreationWorkflow", "JobPosting", new { id=Model.JobPosting.JobPostingId, 
		actionId=step.ToString() }))
	{
		<input type="submit" value="@step" />
	}
}
