@model objectflow_example.Models.Workgroup

@{
    ViewBag.Title = "Create";
}

<h2>Create New Workgroup</h2>

@using (Html.BeginForm())
{ 

	<p>
		<span>Named: </span>
		@Html.EditorFor(x => x.Name)
	</p>
	
	<input type="submit" />
}
